body{
	text-align: center;
}
#searchresultmainblock{
	padding-top: 25px;
	background:  #e6e6e6;
	width: 40%;
	margin: auto;
	padding-bottom: 10vh;
}
.headerfooter{
	 color: #0099dd;
}
#searchResultHead{
	background: #aabbcc;
	display: inline-block;
	width: 40%;
	padding: .5% 0%;
	color: #24478f;
	font-weight: bold;
}